html { 
  background: url(../images/backgroundlight.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Helvetica Neue', sans-serif;
}

.prof-box {
	width: 800px;
	height: 800px;
	background: rgba(0,0,0,0.2); 
	padding: 40px;
	color: white;
	margin: 0 auto;
	margin-top: 40px;
	text-align: center;
}

.prof-pic {
	border-radius: 75%;
	height: 200px;
}

h1 {
	font-weight: 100;
	letter-spacing: 10;
	font-size: 40px;
}

p {
	font-weight: 10;
	letter-spacing: 2;
}

.social-media {
	font-size: 40px;
}

.social-media a {
	color: white;
}

.line-break {
	width: 325px;
	margin: 0 auto;
	border-top: 1px solid white;
}

.edu-box {
	width: 800px;
	height: 800px;
	background: rgba(0,0,0,0.4); 
	padding: 40px;
	color: white;
	margin: 0 auto;
	margin-top: 40px;
	text-align: center;
}

h2 {
	font-weight: 100;
	letter-spacing: 10;
	font-size: 40px;
}

.umd-logo {
	max-width: 100%;
	height: auto;
}

.gwhlogo {
	max-width: 50%%;
	max-height: 100%;
}

.work-box {
	width: 800px;
	height: 800px;
	background: rgba(0,0,0,0.2); 
	padding: 40px;
	color: white;
	margin: 0 auto;
	margin-top: 40px;
	text-align: center;
}

h3 {
	font-weight: 100;
	letter-spacing: 10;
	font-size: 40px;
}

.psqr-logo {
	max-width: 100%;
	height: auto;
}

