body {
	background-image:url("../images/backgroundpic.png");
	background-size: 2000px
  }
h1,
h6 {
	font-family: 'Open Sans';
	font-weight: 300;
	text-align: center;
	position: relative;
	top: 45%;
	right: 0;
	left: 0;
}

  
  .prof-box {
	  width: 800px;
	  height: 500px; 
	  padding: 40px;
	  color: white;
	  margin: 0 auto;
	  margin-top: 40px;
	  text-align: center;
  }
  
  .prof-pic {
		position: static;
	  border-radius: 50%;
	  height: 200px;
  }
	/* typewriter effect from Geoff Graham - https://css-tricks.com/snippets/css/typewriter-effect/ */
	.typewriter h1 {
		overflow: hidden; /* Ensures the content is not revealed until the animation */
		border-right: .15em solid transparent; /* The typwriter cursor */
		white-space: nowrap; /* Keeps the content on a single line */
		margin: 0 auto; /* Gives that scrolling effect as the typing happens */
		letter-spacing: .15em; /* Adjust as needed */
		animation: 
			typing 3.5s steps(40, end),
			blink-caret .75s step-end 2;
	}
	
	/* The typing effect */
	@keyframes typing {
		from { width: 0 }
		to { width: 100% }
	}
	
	/* The typewriter cursor effect */
	@keyframes blink-caret {
		from, to { border-color: transparent }
		50% { border-color: orange; }
	}
  
  p {
		font: 15px verdana, serif;
		position: relative;
	  font-weight: 10;
	  letter-spacing: 2;
  }

  .social-media {
	  font-size: 75px;
	  display:inline-block;
  }
  .rotate .fa.fa-folder-open:hover{
	font-size:6em;
	transition: 1s ease-out;
  }
  .social-media2 {
	font-size: 75px;
}
.card:hover > .card-block > .rotate > .fa { font-size: 6em; transition: 1s ease-out;}
  
  .social-media a {
	  color: white;
  }
  
  .line-break {
	  width: 325px;
	  margin: 0 auto;
	  border-top: 1px solid white;
  }
