background CSS taken from : https://codepen.io/P1N2O/pen/pyBNzX
   Credit to Manuel Pinto

body {
	width: 100wh;
	height: 90vh;
	color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}


h1,
h6 {
	font-family: 'Open Sans';
	font-weight: 300;
	text-align: center;
	position: relative;
	top: 45%;
	right: 0;
	left: 0;
}
html { 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Helvetica Neue', sans-serif;
  }
  
  
  .prof-box {
	  width: 800px;
	  height: 500px;
	  background: rgba(0,0,0,0.4); 
	  padding: 40px;
	  color: white;
	  margin: 0 auto;
	  margin-top: 40px;
	  text-align: center;
  }
  
  .prof-pic {
	  border-radius: 50%;
	  height: 200px;
  }
  
  h1 {
	  float: left;
	  font-weight: 100;
	  letter-spacing: 10;
	  font-size: 40px;
	  display: block;
  }
  
  p {
	  font-weight: 10;
	  letter-spacing: 2;
  }

  .social-media {
	  font-size: 75px;
	  display:inline-block;
  }
  .rotate .fa.fa-folder-open:hover{
	font-size:6em;
	transition: 1s ease-out;
  }
  .social-media2 {
	font-size: 75px;
}
.card:hover > .card-block > .rotate > .fa { font-size: 6em; transition: 1s ease-out;}
  
  .social-media a {
	  color: white;
  }
  
  .line-break {
	  width: 325px;
	  margin: 0 auto;
	  border-top: 1px solid white;
  }
  
  .umdlogo {
	  width: 50%
	  height: 50%;
  }